.collapsibleWrap {
  width: 60%;
}
.collapse {
  background-color: #dddddd;
  color: #344351;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  outline: none !important;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #344351;
  &:after {
    content: "\02795";
    font-size: 13px;
    color: #344351;
    float: right;
    margin-left: 5px;
  }
  &:hover {
    background-color: #344351;
    color: #f0f1ef;
    &:after {
      color: #f0f1ef;
    }
  }
  &_active {
    background-color: #344351;
    color: #f0f1ef;
    border-radius: 8px 8px 0px 0px;
    border-bottom: none;
    &:after {
      content: "\2796";
      color: #ffffff !important;
    }
    + .content {
      background-color: #dddddd;
      border-top: 1px solid;
      border-bottom: 1px solid #344351;
    }
  }
}
.content {
  display: block;
  text-align: justify;
  padding: 10px 20px;
  color: #344351;
  &_show {
    display: none;
  }
  > p {
    margin: 0;
  }
}
